#1. Find the Second Largest Element

In [1]:
arr = [10,5,20,8]

largest = arr[0]
second_largest = -1

for num in arr:
    if num > largest:
        second_largest = largest
        largest = num
    elif num!= largest and num > second_largest:
        second_largest = num

print(second_largest)

# Explanation:

# Track largest and second largest

# Update both when bigger number appears

10

#2. Remove Duplicate Elements

In [2]:
arr = [1, 2, 2, 3, 1]

unique = []

for num in arr:
    if num not in unique:
        unique.append(num)

print(unique)

# Explanation:

# Add element only if not already present

# Keeps original order

[1, 2, 3]

#3. Find Frequency of Each Element

In [3]:
arr = [1, 2, 2, 3, 1]

freq = {}

for num in arr:
    if num in freq:
        freq[num] += 1
    else:
      freq[num] = 1

print(freq)

# Explanation:

# Dictionary stores count of each element

# Key → element, Value → frequency

{1: 2, 2: 2, 3: 1}

#4. Rotate an Array by k Positions

In [4]:
# Left rotation

arr = [1, 2, 3, 4, 5]
k = 2

for i in range(k):
  first = arr.pop(0)
  arr.append(first)

print(arr)

[3, 4, 5, 1, 2]

In [5]:
# Right rotation

arr = [1, 2, 3, 4, 5]
k = 2

for i in range(k):
  last = arr.pop()
  arr.insert(0, last)

print(arr)

# Explanation:

# Left: remove first, add to end

# Right: remove last, add to start

[4, 5, 1, 2, 3]

#5. Move All Zeros to the End

In [6]:
arr = [0,1,0,3,12]

result = []

zero_count = 0

for num in arr:
  if num !=0:
    result.append(num)
  else:
    zero_count += 1

for i in range(zero_count):
  result.append(0)

print(result)

# Explanation:

# Store non-zero elements

# Count zeros and add them at the end

[1, 3, 12, 0, 0]

#6. Find the Missing Number in a Range

In [7]:
arr = [1,2,4,5]
n = 5

expected_sum = n * (n + 1) // 2
actual_sum = sum(arr)

missing = expected_sum - actual_sum

print(missing)

# Explanation:

# Use sum formula

# Missing number = expected − actual

3

#7. Find All Pairs with Given Sum

In [9]:
arr = [1,2,3,4,5]
target = 5

for i in range(len(arr)):
  for j in range(i + 1, len(arr)):
    if arr[i] + arr[j] == target:
      print(arr[i], arr[j])

# Explanation:

# Check every possible pair

# Print pairs whose sum matches target

1 4
2 3