#1. Find Maximum and Minimum in an Array

In [2]:
arr = [3, 5, 1, 9, 2]

max = arr[0]
min = arr[0]

for num in arr:
    if num > max:
        max = num
    if num < min:
      min = num

print('Max:', max)
print('Min:', min)

#Explanation:

# Assume first element is both max and min

# Compare each element

# Update when bigger/smaller found

Max: 9
Min: 1

#2. Calculate Sum and Average

In [4]:
arr = [2, 4, 6, 8]

total = 0

for num in arr:
  total += num

average = total / len(arr)

print("Sum:", total)
print("Average:", average)

# Explanation:

# Add all elements using a loop

# Average = sum ÷ number of elements

Sum: 20
Average: 5.0

#3. Reverse an Array

In [5]:
arr = [1, 2, 3, 4, 5]

reversed_arr = []

for i in range(len(arr) - 1, -1, -1):
    reversed_arr.append(arr[i])

print(reversed_arr)

# Explanation:

# Start from last index

# Add elements one by one to a new array

[5, 4, 3, 2, 1]

#4. Count Even and Odd Numbers

In [7]:
arr = [1, 2, 3, 4, 5, 6]

even = 0
odd = 0

for num in arr:
  if num % 2 == 0:
      even += 1
  else:
      odd += 1

print("Even:", even)
print("Odd:", odd)

# Explanation:

# Even numbers give remainder 0 when divided by 2

# Count separately

Even: 3
Odd: 3

#5. Check if an Array is Sorted

In [8]:
arr = [1, 2, 3, 4, 5]

is_sorted = True

for i in range(len(arr) - 1):
    if arr[i] > arr[i + 1]:
      is_sorted = False
      break

print(is_sorted)

# Explanation:

# Compare current element with next

# If any element is bigger → not sorted

True

#6. Copy One Array into Another

In [9]:
arr = [10,20,30]

copy_arr = []

for num in arr:
  copy_arr.append(num)

print(copy_arr)

# Explanation:

# Create a new empty array

# Add each element one by one

[10, 20, 30]